header {
    #bottom-header {

        .navbarNavDropdown {
            background-color: transparent !important;
        }

        .clock {
            font-size: 100%;
            width: 2em;
            height: 2em;
            background: transparent;
            border: 5px solid #000;
            border-radius: 50%;
            position: relative;   
         }
        .clock:after, .clock:before{
            position: absolute;
            content: '';
            // background: #999;
            border-radius: 50%;
        }
        .clock:after{
            width: 0.9em;
            height: .15em;
            top: 0.8em;
            left: 0.8em;
            background-color: #000;
            transform-origin: .1em .1em;
            animation: minutehand .75s linear infinite;
        }
        
        .clock:before{
            width: 0.8em;
            height: .15em;
            top: 0.8em;
            left: 0.8em;
            background-color: #ff0000;
            transform-origin: .1em .1em;
            animation: hourhand 6s linear infinite;
        }
        
        @keyframes minutehand{
            0% {transform:rotate(0deg)}
            100% {transform:rotate(360deg)}
        }
        @keyframes hourhand{
            0% {transform:rotate(0deg)}
            100% {transform:rotate(360deg)}
        }


        nav {
            height: 15vh;
            z-index: 11;
            
            .navbar-brand {
                color: #000000;
                font-size: 30px;
                display: flex;
                align-items: center;
                font-family: 'Fredoka One', cursive;

                i {
                    color: #FF0000;
                }
            }

            .bottom-menu {
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                li {
                    a {

                        &:hover {
                            color: #FF0000 !important;
                        }
                    }
                }
            }

            .bottom-search-menu {
                li {
                    padding-left: 15px;

                    a {
                        font-size: 18px;
                        color: #FF0000;

                        span {
                            bottom: -10px;
                            left: 10px;
                            span {
                                font-size: 15px;
                                color: #000000;
                               
                            }
                        }

                    }
                }
            }
        }
    }
}