footer {
    background-color: #212529;

    .name {
        color: #FFFFFF;
        font-size: 30px;
        margin: 50px 0px;
        font-family: 'Fredoka One', cursive;
    }

    .footer-menus {
        .footer-menu {
            margin: 50px 0px;

            .menu-header {
                color: #FFFFFF;
                font-size: 20px;
                padding-bottom: 10px;
                font-family: 'Poppins', sans-serif;
            }

            .menu-options {
                ul {
                    li {
                        padding: 5px 0px;

                        a {
                            text-decoration: none;
                            color: #FFFFFF;
                            transition: all .5s ease;
                            font-family: 'Poppins', sans-serif;
                            font-size: 18px;

                            i {
                                font-size: 16px;
                            }

                            &:hover {
                                color: #FF0000;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-social-menu {
        border-top: 1px solid #FFFFFF;
        .footer-social {
            margin-bottom: 20px;

            li {
                padding: 0px 10px;
                padding-top: 10px;

                a {
                    color: #FFFFFF;
                    transition: all .5s ease;
                    font-size: 20px;

                    &:hover {
                        display: block;
                        color: #FF0000;
                        transform: rotateY(180deg);
                        transition: all .5s ease;
                    }
                }
            }
        }
    }

    
}

#copyright {
    background-color: #1c1e20;
    .copyright {
        display: flex;
        justify-content: center;
        h3 {
            color: #FFFFFF;
            font-size: 18px;
            padding: 10px 0px;
            font-family: 'Poppins', sans-serif;
        }

        a {
            font-size: 17px;
            padding-left: 15px;
            font-family: 'Poppins', sans-serif;
            color: #CEBD9C;
            text-decoration: 3px underline;
        }
    }
}