#head-slider {
    .owl-carousel {
        .item {
            height: 73.5vh;
            background-color: red;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .owl-nav {
            .owl-prev {
                position: absolute;
                top: 40%;
                // margin-left: -20px;
                display: flex !important;
                border: 0px solid black;
                justify-content: center;
                align-content: center;

                span {
                    font-size: 40px;
                    padding: 12px 10px 20px 10px;
                    color: #FFFFFF;
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }

            .owl-next {
                position: absolute;
                top: 40%;
                right: 0px;
                display: flex !important;
                border: 0px solid black;

                span {
                    font-size: 40px;
                    padding: 12px 10px 20px 10px;
                    color: #FFFFFF;
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }

            .owl-prev i,
            .owl-next i {
                transform: scale(1, 6);
                color: #ccc;
            }
        }
    }
}