@media only screen and (max-width:992px) {
    header {
        #top-header {
            .top-menus {
                justify-content: center !important;
            }
        }

        #discount-header {
            h3 {
                display: none;
            }

            a {
                padding-left: 0px;
            }
        }
    }

    #copyright {
        h3 {
            font-size: 12px !important;
        }
    }

    #detail {
        .product-info {
            margin-top: 50px;

            .prod-desc {
                p {
                    padding-right: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    main {
        #testimonial {

            .testimonial-desc {
                p {
                    padding: 0px 100px !important;
                }
            }
        }
    }
}

@media only screen and (max-width:465px) {
    header {
        #top-header {
            display: none;
        }
    }

    main {
        #categories-boxes {
            .header {
                h1 {
                    font-size: 30px;
                }
            }
        }

        #trending {
            .trending-header {
                h2 {
                    font-size: 25px;
                    padding-left: 5px;
                }

                margin-bottom: 20px;
            }
        }

        #testimonial {
            .testimonial-header {
                h2 {
                    font-size: 20px !important;
                }
            }

            .testimonial-desc {
                p {
                    padding: 0px 50px !important;
                    font-size: 15px !important;
                }
            }
        }
    }
}

@media only screen and (max-width:301px) {
    #detail {
        .prod-basket-hearth {
            ul {
                li {
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}