@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
#testimonial {
    height: 100%;
    background-color: #F3EAD8;
    margin-top: 100px;

    .owl-carousel {
        .owl-nav {
            .owl-prev {
                position: absolute;
                top: 30%;
                // margin-left: -20px;
                display: flex !important;
                border: 0px solid black;
                justify-content: center;
                align-content: center;

                span {
                    font-size: 40px;
                    padding: 12px 10px 20px 10px;
                    color: #000000;
                    background-color: transparent;
                }
            }

            .owl-next {
                position: absolute;
                top: 30%;
                right: 0px;
                display: flex !important;
                border: 0px solid black;

                span {
                    font-size: 40px;
                    padding: 12px 10px 20px 10px;
                    color: #000000;
                    background-color: transparent;
                }
            }

            .owl-prev i,
            .owl-next i {
                transform: scale(1, 6);
                color: #ccc;
            }
        }

        .item {
            .testimonial-header {
                margin-top: 20px;
                margin-bottom: 40px;
                h2 {
                    font-size: 30px;
                    font-family: 'Fredoka One', cursive;
                    font-weight: 600;
                }
            }

            .testimonial-desc {
                p {
                    font-size: 18px;
                    padding: 0px 200px;
                    font-family: 'Baloo Tammudu 2', cursive;
                }
            }

            .testimonial-customer {
                .customer-image {
                    width: 50px !important;
                    height: 50px;
                }

                .about-customer {
                    font-family: 'Concert One', cursive;
                }
            }
        }
    }
}