@{
    ViewData["Title"] = "Basket";
}

<main id="cart">
        <section id="header" class="d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-12">
                    <h1>Basket</h1>
                </div>
            </div>
        </section>

        <section id="product-table">
            <div class="container">
                <div class="row">
                    <div class="prod-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">IMAGES</th>
                                    <th scope="col">PRODUCT</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">QUANTITY</th>
                                    <th scope="col">TOTAL</th>
                                    <th scope="col">DELETE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <img src="/assets/images/T006.407.11.043.00_R_1.webp" alt="">
                                    </th>
                                    <td>Tissot</td>
                                    <td>$111.00</td>
                                    <td>1</td>
                                    <td>$111.00</td>
                                    <td><a href="#"><i class="fas fa-times"></i></a></td>
                                </tr>

                            </tbody>
                        </table>


                    </div>

                    <div class="return-shop">
                        <a href="/index.html">RETURN TO SHOP</a>
                    </div>
                </div>
            </div>
        </section>
    </main>